* {
  background-color: turquoise;
}

#cat {
  height: 25%;
  width: 25%;
  border-radius: 100%;
  border-style: solid;
  border-width: 10px;
  border-color: lime;
}

h1 {
  font-family: cursive;
}

h2 {
  font-family: fantasy;
}

a {
  font-size: x-large;
}

ul {
  color: chocolate;
}

ol {
  color: hotpink;
}
