* {
  background-color: rgb(105, 144, 112);
  margin: 10px;
  padding: 5px;
  text-align: center;
}

#cat {
  height: 25%;
  width: 25%;
  border-radius: 100%;
  border-style: solid;
  border-width: 10px;
  border-color: gold;
}

h1 {
  font-family: cursive;
}

h2 {
  font-family: fantasy;
}

a {
  font-size: x-large;
}

ul {
  color: chocolate;
}

ol {
  color: hotpink;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

#url-navbar {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: lightsalmon;
  border-style: outset;
  border-color: burlywood;
}

.url-navbar {
  list-style-type: none;
  padding: 0px;
  margin: 10px;
  background-color: lightsalmon;
  border-style: outset;
  border-color: burlywood;
  border-width: 5px;
}

#li-a {
  display: block;
  background-color: lightsalmon;
  text-decoration: none;
  margin: 0px;
  padding: 25px;
}
#li-a:hover {
  background-color: brown;
  color: white;
  margin: 0px;
  padding: 25px;
}
